.well
  = @resource.tweet_content
  %br
  = @resource.tweet_timestamp

= render 'comment_form'

%br
.panel.panel-default
  .panel-heading
    %h4 Comments
  .panel-body
    - @resource.tweet.comments.each do |comment|
      .well
        = "#{comment.comment}" #(#{comment.created_at.to_formatted_s(:short)})
        = render 'reply_form', comment: comment
        - comment.replies.each do |reply|
          .well
            = reply.content